In [1]:
import pandas as pd
from datetime import datetime,date
import numpy as np

In [3]:
data1 = pd.read_csv("D:/날씨_빅데이터/2018/2018_01.csv")
data2 = pd.read_csv("D:/날씨_빅데이터/2018/2018_02.csv")
data3 = pd.read_csv("D:/날씨_빅데이터/2018/2018_03.csv")
data4 = pd.read_csv("D:/날씨_빅데이터/2018/2018_04.csv")
data5 = pd.read_csv("D:/날씨_빅데이터/2019/2019_01.csv")
data6 = pd.read_csv("D:/날씨_빅데이터/2019/2019_02.csv")
data7 = pd.read_csv("D:/날씨_빅데이터/2019/2019_03.csv")
data8 = pd.read_csv("D:/날씨_빅데이터/2019/2019_04.csv")
data9 = pd.read_csv("D:/날씨_빅데이터/2019/2019_05.csv")
data10 = pd.read_csv("D:/날씨_빅데이터/2019/2019_06.csv")
data11 = pd.read_csv("D:/날씨_빅데이터/2019/2019_07.csv")
data12 = pd.read_csv("D:/날씨_빅데이터/2019/2019_08.csv")
data13 = pd.read_csv("D:/날씨_빅데이터/2019/2019_09.csv")
data14 = pd.read_csv("D:/날씨_빅데이터/2019/2019_10.csv")
data15 = pd.read_csv("D:/날씨_빅데이터/2019/2019_11.csv")
data16 = pd.read_csv("D:/날씨_빅데이터/2019/2019_12.csv")

In [4]:
data1.head()

      지역   측정소코드        측정일시  PM10  PM25
0  서울 중구  111121  2018010101  34.0  19.0
1  서울 중구  111121  2018010102  27.0  14.0
2  서울 중구  111121  2018010103  26.0  14.0
3  서울 중구  111121  2018010104  26.0  15.0
4  서울 중구  111121  2018010105  28.0  16.0

In [5]:
df = pd.concat([data1, data2, data3, data4, data5, data6, data7, data8, data9,
               data10, data11, data12, data13, data14, data15, data16])

In [7]:
df.head()

      지역   측정소코드        측정일시  PM10  PM25
0  서울 중구  111121  2018010101  34.0  19.0
1  서울 중구  111121  2018010102  27.0  14.0
2  서울 중구  111121  2018010103  26.0  14.0
3  서울 중구  111121  2018010104  26.0  15.0
4  서울 중구  111121  2018010105  28.0  16.0

In [5]:
df = df.loc[:,['지역', '측정소코드', '측정일시', 'PM10', 'PM25']]

In [6]:
df = df.dropna(axis=0)

In [8]:
df.shape

(7272133, 5)

In [9]:
df['date'] = df['측정일시'].astype(str)
df['date'] = df['date'].str[0:8]

In [10]:
df.head()

      지역   측정소코드        측정일시  PM10  PM25      date
0  서울 중구  111121  2018010101  34.0  19.0  20180101
1  서울 중구  111121  2018010102  27.0  14.0  20180101
2  서울 중구  111121  2018010103  26.0  14.0  20180101
3  서울 중구  111121  2018010104  26.0  15.0  20180101
4  서울 중구  111121  2018010105  28.0  16.0  20180101

In [11]:
df['date'] = pd.to_datetime(df['date']).dt.date

In [12]:
df = df.loc[:,['지역', 'date', 'PM10', 'PM25']]

In [13]:
data = df.groupby(['지역', 'date'], as_index=False).mean()

In [14]:
data

            지역        date       PM10       PM25
0       강원 강릉시  2018-01-01  17.625000  13.400000
1       강원 강릉시  2018-01-02  36.500000  22.869565
2       강원 강릉시  2018-01-03  17.166667  12.722222
3       강원 강릉시  2018-01-04  21.833333  14.809524
4       강원 강릉시  2018-01-05  21.125000  24.928571
...        ...         ...        ...        ...
148863  충북 충주시  2019-12-27  37.687500  19.125000
148864  충북 충주시  2019-12-28  45.333333  21.875000
148865  충북 충주시  2019-12-29  52.250000  30.791667
148866  충북 충주시  2019-12-30  37.583333  26.625000
148867  충북 충주시  2019-12-31  28.520833  12.791667

[148868 rows x 4 columns]

In [14]:
data.to_csv('D:/날씨_빅데이터/air/air_data.csv', encoding = 'utf-8')

In [15]:
data = pd.read_csv("D:/날씨_빅데이터/air/air_data.csv")

In [16]:
data['지역'].value_counts()

울산 울주군     730
경기 용인시     730
부산 해운대구    730
부산 동래구     730
강원 춘천시     730
          ...
세종 부강면      61
경남 산청군      61
경남 창녕군      61
경남 의령군      61
경남 합천군      61
Name: 지역, Length: 253, dtype: int64

In [17]:
region = data['지역'].value_counts()[data['지역'].value_counts() == 730].index.tolist()

In [18]:
region

['울산 울주군',
 '경기 용인시',
 '부산 해운대구',
 '부산 동래구',
 '강원 춘천시',
 '경기 과천시',
 '경기 광명시',
 '부산 강서구',
 '부산 기장군',
 '경기 시흥시',
 '울산 북구',
 '경기 화성시',
 '경남 진주시',
 '전북 전주시',
 '부산 사하구',
 '경기 안산시',
 '전북 고창군',
 '광주 북구',
 '경남 양산시',
 '인천 부평구',
 '경기 부천시',
 '대구 동구',
 '경기 의정부시',
 '강원 원주시',
 '전북 정읍시',
 '경기 양평군',
 '경남 창원시',
 '울산 남구',
 '서울 영등포구',
 '경남 사천시',
 '경기 수원시',
 '경기 평택시',
 '광주 광산구',
 '대구 달서구',
 '부산 서구',
 '경기 군포시',
 '전북 익산시',
 '서울 중구',
 '전남 광양시',
 '대구 북구',
 '충북 청주시',
 '경기 안양시',
 '경기 성남시',
 '경기 파주시',
 '울산 중구',
 '대구 서구',
 '전남 여수시',
 '전북 군산시',
 '인천 서구',
 '경남 김해시',
 '경기 남양주시',
 '경기 광주시',
 '대구 중구',
 '대전 유성구',
 '경기 의왕시',
 '대전 서구',
 '경기 고양시',
 '대구 수성구',
 '세종 세종시',
 '충북 충주시',
 '경북 구미시',
 '경기 김포시',
 '서울 동대문구',
 '강원 삼척시',
 '부산 동구',
 '경북 포항시',
 '인천 남동구',
 '부산 금정구',
 '경기 포천시',
 '인천 동구']

In [19]:
final = data[data['지역'].isin(region)]

In [20]:
final['지역'].value_counts()

경기 포천시    730
전남 광양시    730
인천 부평구    730
전북 익산시    730
경기 부천시    730
         ...
경기 파주시    730
경기 성남시    730
경기 의왕시    730
인천 동구     730
대구 중구     730
Name: 지역, Length: 70, dtype: int64

In [21]:
final.head()

      Unnamed: 0      지역        date       PM10       PM25
1769        1769  강원 삼척시  2018-01-01  21.500000  12.909091
1770        1770  강원 삼척시  2018-01-02  44.772727  30.454545
1771        1771  강원 삼척시  2018-01-03  24.300000  15.650000
1772        1772  강원 삼척시  2018-01-04  22.590909  16.181818
1773        1773  강원 삼척시  2018-01-05  26.350000  19.100000

In [22]:
final = final.loc[:,['지역', 'date', 'PM10', 'PM25']]

In [23]:
final = final.reset_index(drop = True, inplace=False)

In [24]:
final

           지역        date       PM10       PM25
0      강원 삼척시  2018-01-01  21.500000  12.909091
1      강원 삼척시  2018-01-02  44.772727  30.454545
2      강원 삼척시  2018-01-03  24.300000  15.650000
3      강원 삼척시  2018-01-04  22.590909  16.181818
4      강원 삼척시  2018-01-05  26.350000  19.100000
...       ...         ...        ...        ...
51095  충북 충주시  2019-12-27  37.687500  19.125000
51096  충북 충주시  2019-12-28  45.333333  21.875000
51097  충북 충주시  2019-12-29  52.250000  30.791667
51098  충북 충주시  2019-12-30  37.583333  26.625000
51099  충북 충주시  2019-12-31  28.520833  12.791667

[51100 rows x 4 columns]

In [24]:
final.to_csv('D:/날씨_빅데이터/air/air_final.csv')